<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAAEAAgADAAQABQAIAg8CEFQkdG9wWCRv
				YmplY3RzWCR2ZXJzaW9uWSRhcmNoaXZlctEABgAHVHJv
				b3SAAa8QeQAJAAoAEQAdACkAOwA/AEMASgBOAE8AUABU
				AF4AYQBkAGUAZgBwAHMAdgB3AHgAggCFAIgAiQCKAJQA
				lwCaAJsAnACmAKkArACtAK4AuAC7AL4AvwDAAMoAzQDQ
				ANEA0gDcAN8A4gDjAOQA6AD/AQMBGQEhASQBKAEtATAB
				MQE1ATwBQQFEAUgBTQFQAVUBWAFdAWIBZwFqAWsBdQF6
				AX0BfgGCAYcBigGPAZIBkwGWAZsBngGfAaIBpwGqAa8B
				sgG3AboBvwHCAcYB3AHdAd4B3wHgAeEB4gHjAeQB5QHp
				Ae0B8QH1AfkB/QIBAgUCCQINVSRudWxs0gALAAwADQAQ
				Wk5TLm9iamVjdHNWJGNsYXNzogAOAA+AAoBHgHjWABIA
				EwAUAAwAFQAWABcAGAAZABoAGwAcWE5vZGUgTWFwWVJl
				c291cmNlc1hQYXRoIE1hcF5JZGVudGlmaWVyIE1hcFhQ
				YWdlIE1hcIA3gAOAZIB3gDWAY9IACwAMAB4AKKkAHwAg
				ACEAIgAjACQAJQAmACeABIAMgBGAFoAbgCCAJYAqgC+A
				NNkAKgArACwALQAuAC8AMAAMADEAMgAzADQANQA1ADUA
				OAA5ADVUTmFtZVVBbGlhc1pJZGVudGlmaWVyXVB1Ymxp
				c2hlZERhdGVZVGltZVN0YW1wXFB1Ymxpc2hlZFVSTFdD
				aGFuZ2VkVFNsdWeACoAFgAmAAIAAgAAJgAuAANIAPAAM
				AD0APlIkMIAGgAjSAEAADABBAEJXTlMuZGF0YU8RAVgA
				AAAAAVgAAgAABUFsaSBEAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAMY6lcRIKwAABaxjJQdkb3QucG5nAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAFrGMozH0GtgAAAAAAAAAA////
				/wAACSAAAAAAAAAAAAAAAAAAAAADaW1nAAAQAAgAAMY6
				zgQAAAARAAgAAMx9PvYAAAABABQFrGMlBaxjHwAKmt4A
				CprJAACF7QACACpBbGkgRDpVc2VyczpOYXdhbDpEZXNr
				dG9wOlNpdGU6aW1nOmRvdC5wbmcADgAQAAcAZABvAHQA
				LgBwAG4AZwAPAAwABQBBAGwAaQAgAEQAEgAkVXNlcnMv
				TmF3YWwvRGVza3RvcC9TaXRlL2ltZy9kb3QucG5nABMA
				AS8AABUAAgAM//8AAIAH0gBEAEUARgBHWCRjbGFzc2Vz
				WiRjbGFzc25hbWWjAEcASABJXU5TTXV0YWJsZURhdGFW
				TlNEYXRhWE5TT2JqZWN00gBEAEUASwBNogBMAElXQkRB
				bGlhc1dCREFsaWFzXxAkMjZEMzA1MjUtNTY2Qy00MDJC
				LTlERDgtNTRBQTU5OTQyMjM4V2RvdC5wbmfSAEQARQBR
				AFOiAFIASV5SV1NpdGVSZXNvdXJjZV5SV1NpdGVSZXNv
				dXJjZdkAKgArACwALQAuAC8AMAAMADEAVQBWAFcANQA1
				ADUAOAA5ADWAEIANgA+AAIAAgAAJgAuAANIAPAAMAF8A
				PoAOgAjSAEAADABiAEJPEQGOAAAAAAGOAAIAAAVBbGkg
				RAAAAAAAAAAAAAAAAAAAAAAAAAAAAADGOpXESCsAAAWs
				YyUUYmdfZGlyZWN0aW9uX25hdi5wbmcAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				BaxjJ8w8PWwAAAAAAAAAAP////8AAAkgAAAAAAAAAAAA
				AAAAAAAAA2ltZwAAEAAIAADGOs4EAAAAEQAIAADMPHWs
				AAAAAQAUBaxjJQWsYx8ACpreAAqayQAAhe0AAgA3QWxp
				IEQ6VXNlcnM6TmF3YWw6RGVza3RvcDpTaXRlOmltZzpi
				Z19kaXJlY3Rpb25fbmF2LnBuZwAADgAqABQAYgBnAF8A
				ZABpAHIAZQBjAHQAaQBvAG4AXwBuAGEAdgAuAHAAbgBn
				AA8ADAAFAEEAbABpACAARAASADFVc2Vycy9OYXdhbC9E
				ZXNrdG9wL1NpdGUvaW1nL2JnX2RpcmVjdGlvbl9uYXYu
				cG5nAAATAAEvAAAVAAIADP//AACAB18QJEE2M0JBNzM2
				LTA3MzYtNEEwNy05MzI5LUEyODdBMkRFRDVDQV8QFGJn
				X2RpcmVjdGlvbl9uYXYucG5n2QAqACsALAAtAC4ALwAw
				AAwAMQBnAGgAaQA1ADUANQA4ADkANYAVgBKAFIAAgACA
				AAmAC4AA0gA8AAwAcQA+gBOACNIAQAAMAHQAQk8RAV4A
				AAAAAV4AAgAABUFsaSBEAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAMY6lcRIKwAABaxjJQhiYWNrLnBuZwAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAFrGMmzHtZpgAAAAAAAAAA////
				/wAACSAAAAAAAAAAAAAAAAAAAAADaW1nAAAQAAgAAMY6
				zgQAAAARAAgAAMx7keYAAAABABQFrGMlBaxjHwAKmt4A
				CprJAACF7QACACtBbGkgRDpVc2VyczpOYXdhbDpEZXNr
				dG9wOlNpdGU6aW1nOmJhY2sucG5nAAAOABIACABiAGEA
				YwBrAC4AcABuAGcADwAMAAUAQQBsAGkAIABEABIAJVVz
				ZXJzL05hd2FsL0Rlc2t0b3AvU2l0ZS9pbWcvYmFjay5w
				bmcAABMAAS8AABUAAgAM//8AAIAHXxAkRTlFMjQ2RTct
				MzUyQy00OUNGLTgyMzQtRkNBQjdEODVDQjBDWGJhY2su
				cG5n2QAqACsALAAtAC4ALwAwAAwAMQB5AHoAewA1ADUA
				NQA4ADkANYAagBeAGYAAgACAAAmAC4AA0gA8AAwAgwA+
				gBiACNIAQAAMAIYAQk8RAbQAAAAAAbQAAgAABUFsaSBE
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAMY6lcRIKwAABaxj
				IBdmb250YXdlc29tZS13ZWJmb250LnR0ZgAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAF
				rGMjzAIEPgAAAAAAAAAA/////wAACSAAAAAAAAAAAAAA
				AAAAAAAMZm9udC1hd2Vzb21lABAACAAAxjrOBAAAABEA
				CAAAzAI8fgAAAAEAFAWsYyAFrGMfAAqa3gAKmskAAIXt
				AAIAQ0FsaSBEOlVzZXJzOk5hd2FsOkRlc2t0b3A6U2l0
				ZTpmb250LWF3ZXNvbWU6Zm9udGF3ZXNvbWUtd2ViZm9u
				dC50dGYAAA4AMAAXAGYAbwBuAHQAYQB3AGUAcwBvAG0A
				ZQAtAHcAZQBiAGYAbwBuAHQALgB0AHQAZgAPAAwABQBB
				AGwAaQAgAEQAEgA9VXNlcnMvTmF3YWwvRGVza3RvcC9T
				aXRlL2ZvbnQtYXdlc29tZS9mb250YXdlc29tZS13ZWJm
				b250LnR0ZgAAEwABLwAAFQACAAz//wAAgAdfECQwQTE1
				MERBRi00MEE1LTREMDMtQTNDOC0xRTM2RTlCOTdERDRf
				EBdmb250YXdlc29tZS13ZWJmb250LnR0ZtkAKgArACwA
				LQAuAC8AMAAMADEAiwCMAI0ANQA1ADUAOAA5ADWAH4Ac
				gB6AAIAAgAAJgAuAANIAPAAMAJUAPoAdgAjSAEAADACY
				AEJPEQG2AAAAAAG2AAIAAAVBbGkgRAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAADGOpXESCsAAAWsYyAYZm9udGF3ZXNv
				bWUtd2ViZm9udC53b2ZmAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAABaxjJMwCBD4AAAAA
				AAAAAP////8AAAkgAAAAAAAAAAAAAAAAAAAADGZvbnQt
				YXdlc29tZQAQAAgAAMY6zgQAAAARAAgAAMwCPH4AAAAB
				ABQFrGMgBaxjHwAKmt4ACprJAACF7QACAERBbGkgRDpV
				c2VyczpOYXdhbDpEZXNrdG9wOlNpdGU6Zm9udC1hd2Vz
				b21lOmZvbnRhd2Vzb21lLXdlYmZvbnQud29mZgAOADIA
				GABmAG8AbgB0AGEAdwBlAHMAbwBtAGUALQB3AGUAYgBm
				AG8AbgB0AC4AdwBvAGYAZgAPAAwABQBBAGwAaQAgAEQA
				EgA+VXNlcnMvTmF3YWwvRGVza3RvcC9TaXRlL2ZvbnQt
				YXdlc29tZS9mb250YXdlc29tZS13ZWJmb250LndvZmYA
				EwABLwAAFQACAAz//wAAgAdfECRGNkU0ODgwNi1DNTI0
				LTRCQ0YtQjhERS0zNTRCMkRBQzIwOUNfEBhmb250YXdl
				c29tZS13ZWJmb250LndvZmbZACoAKwAsAC0ALgAvADAA
				DAAxAJ0AngCfADUANQA1ADgAOQA1gCSAIYAjgACAAIAA
				CYALgADSADwADACnAD6AIoAI0gBAAAwAqgBCTxEBgAAA
				AAABgAACAAAFQWxpIEQAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAxjqVxEgrAAAFrGMpC2Zhdmljb24ucG5nAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAWsYyrMNY0SAAAAAAAAAAD/////
				AAAJIAAAAAAAAAAAAAAAAAAAAAdmYXZpY29uAAAQAAgA
				AMY6zgQAAAARAAgAAMw1xVIAAAABABgFrGMpBaxjJQWs
				Yx8ACpreAAqayQAAhe0AAgA2QWxpIEQ6VXNlcnM6TmF3
				YWw6RGVza3RvcDpTaXRlOmltZzpmYXZpY29uOmZhdmlj
				b24ucG5nAA4AGAALAGYAYQB2AGkAYwBvAG4ALgBwAG4A
				ZwAPAAwABQBBAGwAaQAgAEQAEgAwVXNlcnMvTmF3YWwv
				RGVza3RvcC9TaXRlL2ltZy9mYXZpY29uL2Zhdmljb24u
				cG5nABMAAS8AABUAAgAM//8AAIAHXxAkN0FBM0RCNEQt
				NDlFNy00NDAzLUI3NkItNkI0NjBCNjBDODQzW2Zhdmlj
				b24ucG5n2QAqACsALAAtAC4ALwAwAAwAMQCvALAAsQA1
				ADUANQA4ADkANYApgCaAKIAAgACAAAmAC4AA0gA8AAwA
				uQA+gCeACNIAQAAMALwAQk8RAbQAAAAAAbQAAgAABUFs
				aSBEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMY6lcRIKwAA
				BaxjIBdmb250YXdlc29tZS13ZWJmb250LnN2ZwAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAFrGMizAIEPgAAAAAAAAAA/////wAACSAAAAAAAAAA
				AAAAAAAAAAAMZm9udC1hd2Vzb21lABAACAAAxjrOBAAA
				ABEACAAAzAI8fgAAAAEAFAWsYyAFrGMfAAqa3gAKmskA
				AIXtAAIAQ0FsaSBEOlVzZXJzOk5hd2FsOkRlc2t0b3A6
				U2l0ZTpmb250LWF3ZXNvbWU6Zm9udGF3ZXNvbWUtd2Vi
				Zm9udC5zdmcAAA4AMAAXAGYAbwBuAHQAYQB3AGUAcwBv
				AG0AZQAtAHcAZQBiAGYAbwBuAHQALgBzAHYAZwAPAAwA
				BQBBAGwAaQAgAEQAEgA9VXNlcnMvTmF3YWwvRGVza3Rv
				cC9TaXRlL2ZvbnQtYXdlc29tZS9mb250YXdlc29tZS13
				ZWJmb250LnN2ZwAAEwABLwAAFQACAAz//wAAgAdfECQ2
				QjMxREQ5RS0wNUYzLTRDNUItOENFOS0wN0I4MUUxOUM2
				NERfEBdmb250YXdlc29tZS13ZWJmb250LnN2Z9kAKgAr
				ACwALQAuAC8AMAAMADEAwQDCAMMANQA1ADUAOAA5ADWA
				LoArgC2AAIAAgAAJgAuAANIAPAAMAMsAPoAsgAjSAEAA
				DADOAEJPEQG0AAAAAAG0AAIAAAVBbGkgRAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAADGOpXESCsAAAWsYyAXZm9udGF3
				ZXNvbWUtd2ViZm9udC5lb3QAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABaxjIcwCBD4A
				AAAAAAAAAP////8AAAkgAAAAAAAAAAAAAAAAAAAADGZv
				bnQtYXdlc29tZQAQAAgAAMY6zgQAAAARAAgAAMwCPH4A
				AAABABQFrGMgBaxjHwAKmt4ACprJAACF7QACAENBbGkg
				RDpVc2VyczpOYXdhbDpEZXNrdG9wOlNpdGU6Zm9udC1h
				d2Vzb21lOmZvbnRhd2Vzb21lLXdlYmZvbnQuZW90AAAO
				ADAAFwBmAG8AbgB0AGEAdwBlAHMAbwBtAGUALQB3AGUA
				YgBmAG8AbgB0AC4AZQBvAHQADwAMAAUAQQBsAGkAIABE
				ABIAPVVzZXJzL05hd2FsL0Rlc2t0b3AvU2l0ZS9mb250
				LWF3ZXNvbWUvZm9udGF3ZXNvbWUtd2ViZm9udC5lb3QA
				ABMAAS8AABUAAgAM//8AAIAHXxAkQjZGMzEwQTYtOEJE
				OC00RUUxLUE1REItOTkxMDg3QkZBRTcyXxAXZm9udGF3
				ZXNvbWUtd2ViZm9udC5lb3TZACoAKwAsAC0ALgAvADAA
				DAAxANMA1ADVADUANQA1ADgAOQA1gDOAMIAygACAAIAA
				CYALgADSADwADADdAD6AMYAI0gBAAAwA4ABCTxEBWAAA
				AAABWAACAAAFQWxpIEQAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAxjqVxEgrAAAFrGMlB3BpYy5qcGcAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAWsY0XMcnVOAAAAAAAAAAD/////
				AAAJIAAAAAAAAAAAAAAAAAAAAANpbWcAABAACAAAxjrO
				BAAAABEACAAAzHKtjgAAAAEAFAWsYyUFrGMfAAqa3gAK
				mskAAIXtAAIAKkFsaSBEOlVzZXJzOk5hd2FsOkRlc2t0
				b3A6U2l0ZTppbWc6cGljLmpwZwAOABAABwBwAGkAYwAu
				AGoAcABnAA8ADAAFAEEAbABpACAARAASACRVc2Vycy9O
				YXdhbC9EZXNrdG9wL1NpdGUvaW1nL3BpYy5qcGcAEwAB
				LwAAFQACAAz//wAAgAdfECQ3QUNEQjE4NC0yRTU0LTQw
				NkUtQTQ1My00RjA3QTE4MzBFNUJXcGljLmpwZ9IARABF
				AOUA5qMA5gDnAElcTlNNdXRhYmxlU2V0VU5TU2V00wAL
				AOkADADqAPQA/ldOUy5rZXlzqQAlACYAJwAkAB8AIAAj
				ACEAIoAlgCqAL4AggASADIAbgBGAFqkAsQDDANUAnwA0
				AFcAjQBpAHuAKIAtgDKAI4AJgA+AHoAUgBmANtIARABF
				AQABAaMBAQECAElfEBNOU011dGFibGVEaWN0aW9uYXJ5
				XE5TRGljdGlvbmFyedMACwDpAAwBBAEOAP6pAQUBBgEH
				AQgBCQEKAQsBDAENgDiAQIBhgFGAX4BdgEWAW4BDqQCx
				AMMA1QCfADQAVwCNAGkAe4AogC2AMoAjgAmAD4AegBSA
				GYA21AEaAAwBGwEcAR0BHgAlASBYQ2hpbGRyZW5fEBJS
				ZXByZXNlbnRlZCBPYmplY3RWUGFyZW50gDmAQoAlgDvS
				AAsADAEiASOggDrSAEQARQElASajASYBJwBJXk5TTXV0
				YWJsZUFycmF5V05TQXJyYXnUARoADAEbARwBKQEeASsA
				D4A/gEKAPIBH0gAqAAwBLgEvgD2APlxmb250LWF3ZXNv
				bWXSAEQARQEyATSiATMASVxSV1NpdGVGb2xkZXJcUldT
				aXRlRm9sZGVy0gALAAwBNgEjpAEGAQUBDQELgECAOIBD
				gEWAOtQBGgAMARsBHAE9AR4AJgEggEGAQoAqgDvSAAsA
				DAFCASOggDrSAEQARQFFAUeiAUYASV8QEFJXU291cmNl
				TGlzdE5vZGVfEBBSV1NvdXJjZUxpc3ROb2Rl1AEaAAwB
				GwEcAUkBHgAiASCARIBCgBaAO9IACwAMAU4BI6CAOtQB
				GgAMARsBHAFRAR4AIwEggEaAQoAbgDvSAAsADAFWASOg
				gDrUARoADAEbARwBWQEeADUANYBIgEKAAIAA0gALAAwB
				XgEjogEgAWCAO4BJgDrUARoADAEbARwBYwEeAWUAD4BM
				gEKASoBH0gAqAAwBaAEvgEuAPlNpbWfSAAsADAFsASOn
				AW0BbgFvAQwBCgEJAQeATYBTgFeAW4BdgF+AYYA61AEa
				AAwBGwEcAXYBHgF4AWCAUIBCgE6ASdIAKgAMAXsBL4BP
				gD5XZmF2aWNvbtIACwAMAX8BI6EBCIBRgDrUARoADAEb
				ARwBgwEeACQBbYBSgEKAIIBN0gALAAwBiAEjoIA61AEa
				AAwBGwEcAYsBHgGNAWCAVoBCgFSASdIAKgAMAZABL4BV
				gD5WcGhvdG9z0gALAAwBlAEjoIA61AEaAAwBGwEcAZcB
				HgGZAWCAWoBCgFiASdIAKgAMAZwBL4BZgD5bcHJldHR5
				UGhvdG/SAAsADAGgASOggDrUARoADAEbARwBowEeACEB
				YIBcgEKAEYBJ0gALAAwBqAEjoIA61AEaAAwBGwEcAasB
				HgAgAWCAXoBCgAyASdIACwAMAbABI6CAOtQBGgAMARsB
				HAGzAR4AHwFggGCAQoAEgEnSAAsADAG4ASOggDrUARoA
				DAEbARwBuwEeACcBYIBigEKAL4BJ0gALAAwBwAEjoIA6
				0wALAOkADAHDAcQA/qCggDbTAAsA6QAMAccB0QD+qQHI
				AckBygHLAcwBzQHOAc8B0IBugG+AcIBxgHKAc4B0gHWA
				dqkB0gHTAdQB1QHWAdcB2AHZAdqAZYBmgGeAaIBpgGqA
				a4BsgG2ANl8QJi9Vc2Vycy9OYXdhbC9EZXNrdG9wL1Np
				dGUvaW1nL2JhY2sucG5nXxA+L1VzZXJzL05hd2FsL0Rl
				c2t0b3AvU2l0ZS9mb250LWF3ZXNvbWUvZm9udGF3ZXNv
				bWUtd2ViZm9udC50dGZfEDEvVXNlcnMvTmF3YWwvRGVz
				a3RvcC9TaXRlL2ltZy9mYXZpY29uL2Zhdmljb24ucG5n
				XxAlL1VzZXJzL05hd2FsL0Rlc2t0b3AvU2l0ZS9pbWcv
				cGljLmpwZ18QMi9Vc2Vycy9OYXdhbC9EZXNrdG9wL1Np
				dGUvaW1nL2JnX2RpcmVjdGlvbl9uYXYucG5nXxAlL1Vz
				ZXJzL05hd2FsL0Rlc2t0b3AvU2l0ZS9pbWcvZG90LnBu
				Z18QPi9Vc2Vycy9OYXdhbC9EZXNrdG9wL1NpdGUvZm9u
				dC1hd2Vzb21lL2ZvbnRhd2Vzb21lLXdlYmZvbnQuZW90
				XxA+L1VzZXJzL05hd2FsL0Rlc2t0b3AvU2l0ZS9mb250
				LWF3ZXNvbWUvZm9udGF3ZXNvbWUtd2ViZm9udC5zdmdf
				ED8vVXNlcnMvTmF3YWwvRGVza3RvcC9TaXRlL2ZvbnQt
				YXdlc29tZS9mb250YXdlc29tZS13ZWJmb250LndvZmbS
				AAsADAHmACihACGAEYA00gALAAwB6gAooQAigBaANNIA
				CwAMAe4AKKEAJIAggDTSAAsADAHyACihACeAL4A00gAL
				AAwB9gAooQAggAyANNIACwAMAfoAKKEAH4AEgDTSAAsA
				DAH+ACihACaAKoA00gALAAwCAgAooQAlgCWANNIACwAM
				AgYAKKEAI4AbgDTSAEQARQIKAgyiAgsASV8QElJXUmVz
				b3VyY2VEYXRhYmFzZV8QElJXUmVzb3VyY2VEYXRhYmFz
				ZdIARABFAg4BJ6IBJwBJEgABhqBfEA9OU0tleWVkQXJj
				aGl2ZXIACAAZAB4AJwAwADoAPwBEAEYBOwFBAUoBVQFc
				AWEBYwFlAWcBgAGJAZMBnAGrAbQBtgG4AboBvAG+AcAB
				yQHcAd4B4AHiAeQB5gHoAeoB7AHuAfACFQIaAiACKwI5
				AkMCUAJYAl0CXwJhAmMCZQJnAmkCagJsAm4CdwJ6AnwC
				fgKHAo8D6wPtA/YD/wQKBBEEHwQmBC8EOAQ9BEUETQR0
				BHwEhQSKBJkEqATNBM8E0QTTBNUE1wTZBNoE3ATeBOcE
				6QTrBPQGhgaIBq8GxgbrBu0G7wbxBvMG9Qb3BvgG+gb8
				BwUHBwcJBxIIdAh2CJ0IpgjLCM0IzwjRCNMI1QjXCNgI
				2gjcCOUI5wjpCPIKqgqsCtMK7QsSCxQLFgsYCxoLHAse
				Cx8LIQsjCywLLgswCzkM8wz1DRwNNw1cDV4NYA1iDWQN
				Zg1oDWkNaw1tDXYNeA16DYMPBw8JDzAPPA9hD2MPZQ9n
				D2kPaw9tD24PcA9yD3sPfQ9/D4gRQBFCEWkRgxGoEaoR
				rBGuEbARshG0EbURtxG5EcIRxBHGEc8ThxOJE7ATyhPv
				E/ET8xP1E/cT+RP7E/wT/hQAFAkUCxQNFBYVchV0FZsV
				oxWsFbMVwBXGFdMV2xXuFfAV8hX0FfYV+BX6FfwV/hYA
				FhMWFRYXFhkWGxYdFh8WIRYjFiUWJxYwFjcWTRZaFmcW
				ehZ8Fn4WgBaCFoQWhhaIFooWjBafFqEWoxalFqcWqRar
				Fq0WrxaxFrMWxBbNFuIW6RbrFu0W7xbxFvoW+xb9FwYX
				DRccFyQXNRc3FzkXOxc9F0YXSBdKF1cXYBdlF3IXfxeI
				F5EXkxeVF5cXmRebF6wXrhewF7IXtBe9F74XwBfJF84X
				4Rf0GAUYBxgJGAsYDRgWGBcYGRgqGCwYLhgwGDIYOxg8
				GD4YTxhRGFMYVRhXGGAYZRhnGGkYaxh8GH4YgBiCGIQY
				jRiPGJEYlRieGK0YrxixGLMYtRi3GLkYuxi9GM4Y0BjS
				GNQY1hjfGOEY4xjrGPQY9xj5GPsZDBkOGRAZEhkUGR0Z
				HhkgGTEZMxk1GTcZORlCGUQZRhlNGVYZVxlZGWoZbBlu
				GXAZchl7GX0ZfxmLGZQZlRmXGagZqhmsGa4ZsBm5GboZ
				vBnNGc8Z0RnTGdUZ3hnfGeEZ8hn0GfYZ+Bn6GgMaBBoG
				GhcaGRobGh0aHxooGikaKxo4GjkaOho8GkkaXBpeGmAa
				YhpkGmYaaBpqGmwabhqBGoMahRqHGokaixqNGo8akRqT
				GpUavhr/GzMbWxuQG7gb+Rw6HHwchRyIHIocjByVHJgc
				mhycHKUcqByqHKwctRy4HLocvBzFHMgcyhzMHNUc2Bza
				HNwc5RzoHOoc7Bz1HPgc+hz8HQUdCB0KHQwdFR0aHS8d
				RB1NHVIdVwAAAAAAAAICAAAAAAAAAhEAAAAAAAAAAAAA
				AAAAAB1p
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2015 Ali D</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Alpha</string>
					<key>TitleText</key>
					<string>My Website</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
